body{
    background: #ddd;
}

h1{
    text-align: center;
}

p{
    text-align: justify;
}

.video{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.content{
    margin: auto;
    width: 900px;
    padding: 20px;
    background: rgb(255, 255, 255);
}

#img-container{
    background: #333;
    border-radius: 5px;
    padding: 10px 5px;
}

.img-wrapper#first {
    margin-top: 0;
}

.img-wrapper {
    margin-top: 10px;
}

.img-title{
    width: 100%;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.img-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    padding: 10px 20px;
    /* height: 150px; */
    flex-wrap: wrap;
}

/* .img-list-container div:not(:first-child) {
} */

.img-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-card img{
    cursor: pointer;
    max-width: 100%;
    max-height: 130px;
    margin: 5px 10px;
    border-radius: 3px;
    box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s;
}

.img-card img:hover{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.img-card img:active{
    box-shadow: none;
}

.img-list-container a{
    cursor: pointer;
    position: absolute;
    top: calc( 50% - 23px );
    width: auto;
    user-select: none;
    font-size: 30px;
    color: #fff;
    width: 30px;
    height: 45px;
    text-align: center;
}

.img-list-container a:hover{
    background: rgba(0, 0, 0, 0.5);
}

.img-list-container a:active{
    background: rgba(0, 0, 0, 0.2);
}

.next{
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 0px;
    border-radius: 0 3px 3px 0;
}

#modal{
    cursor: pointer;
    position: fixed;
    height: calc( 100% - 20px );
    width: 100%;
    z-index: 1;
    padding: 10px;
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 7, 0.95);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#modal img{
    max-height: calc(100%);
    max-width: 45%;
    user-select: none;
}

#img-modal {
    margin-right: 20px;
    user-select: none;
}

#modal-close {
    position: fixed;
    z-index: 2;
    font-size: 40px;
    width : 40px;
    height: 40px;
    font-weight: bolder;
    color: #fff;
    top: 10px;
    right: 10px;
}